@CHARSET "ISO-8859-1";

.customTable{   
	border-collapse:collapse;
	border:1px solid white;
	width:99%;
	font-size: 13px;
}

.customTableHeader{
	text-align:left;
	color: #FFFFFF;
	background: linear-gradient(#6E8FD3, #3B5998);
	border:1px solid white; 
	padding:5px;
}

.customTableOddRow{
	background:#F0F0F0;
	border:1px solid white;
}

.customTableEvenRow{
	/* background: #C5D1E2; */
	border:1px solid white;
}
