html {
    font-family: "Noto Sans", sans-serif;
}
amp-story {
    color: #fff;
    border: none;
}
amp-story-page {
    background-color: #000;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1.1rem;
}
a {
    text-decoration: none;
    color: #fff;
}
.opacity2 {
    opacity: 0.6;
}
.opacity3 {
    opacity: 0.3;
}
.logo {
    display: inline-block;
    margin-top: 10%;
}
.titles_page {
    text-align: center;
}
.heading {
    width: 100%;
    font-size: 3.2em;
    font-weight: 300;
    display: inline-block;
}
.heading2 {
    font-size: 3em;
    display: inline-block;
    color: #fff;
}
.subheading {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    width: 100%;
}
.subheading2 {
    display: inline-block;
    font-size: 1.3em;
    padding: 2% 15% 0 15%;
    color: #fff;
    font-weight: 400;
}
.subheading3 {
    display: inline-block;
    width: 100%;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    padding-top: 2%;
}
.subheading4 {
    display: inline-block;
    width: 100%;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    padding-top: 2%;
}
.titles {
    text-align: center;
}
.titles2 {
    text-align: center;
}
.titles3 {
    text-align: center;
}
.alert {
    display: inline-block;
    background-color: #d10e02;
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    text-align: justify;
    margin: 1% 0 0 0;
}
.buttonwrap {
    text-align: center;
}
.button {
    display: inline-block;
    background-color: #ffca03;
    border-radius: 5px 5px 5px 5px;
    font-weight: 700;
    padding: 1%;
}

@media screen and (max-width: 1024px) {
    .logo {
        display: inline-block;
        filter: drop-shadow(1px 1px 3px gray);
    }
    p span {
        background-color: #ffca03;
    }
    .heading {
        font-size: 60px;
        display: inline-block;
        color: #fff;
    }
    .heading2 {
        font-size: 65px;
        display: inline-block;
        color: #fff;
        background-color: #0556f0;
    }
    /* .mobile{padding-top:55%} */
    .titles {
        text-align: center;
        position: static;
    }
    .titles3 {
        text-align: center;
    }
    .subheading {
        display: inline-block;
        font-size: 30px;
        color: #fff;
        font-weight: 400;
    }
    .subheading3 {
        display: inline-block;
        text-align: center;
        font-size: 30px;
        color: #fff;
        font-weight: 400;
        padding-top: 2%;
    }
    .alert {
        display: inline-block;
        background-color: #d10e02;
        font-size: 15px;
        color: #fff;
        font-weight: 400;
        text-align: justify;
    }
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    .heading {
        font-size: 25px;
        display: inline-block;
        padding: 10% 0 0 0;
    }
    p span {
        background-color: #ffca03;
    }
    a {
        text-decoration: none;
        color: #cd2a3b;
    }
    .subheading {
        display: inline-block;
        font-size: 17px;
        color: #fff;
        font-weight: 400;
    }
    .logo {
        display: inline-block;
    }
    .titles {
        text-align: left;
    }
    .titles2 {
        text-align: center;
    }
    .titles3 {
        text-align: center;
    }
    .heading2 {
        font-size: 25px;
        display: inline-block;
        color: #fff;
        background-color: #0556f0;
    }
    .subheading2 {
        display: inline-block;
        font-size: 17px;
        color: #fff;
        padding: 5% 0 0 0;
        font-weight: 400;
    }
    .subheading3 {
        display: inline-block;
        text-align: center;
        font-size: 15px;
        color: #fff;
        font-weight: 400;
        padding-top: 2%;
    }
    .mobile {
        padding-top: 75%;
    }
    .alert {
        display: inline-block;
        background-color: #d10e02;
        font-size: 10px;
        color: #fff;
        font-weight: 400;
        text-align: justify;
    }
    .buttonwrap {
        text-align: center;
    }
    .button {
        display: inline-block;
        background-color: #ffca03;
        border-radius: 5px 5px 5px 5px;
        font-weight: 700;
        color: #fff;
        padding: 2%;
    }
    .prov__text ul {
        font-weight: 100;
        margin: 16px auto;
        font-size: 0.6em;
    }
    .g-dt,
    .g-dd {
        flex-basis: 70%;
        flex-grow: 1;
        font-size: 0.8em;
        padding: 2px 4px;
        text-align: right;
        color: #fff;
    }
    .darken {
        filter: brightness(0.6) blur(8px);
    }
}

/* for attachment DL DT DD */
.bg-w {
    background-color: #fff;
}
.bg-b {
    background-color: #000;
}
.bt {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.c-bottom {
    align-content: end;
}
.chartlegend span.green {
    background-color: #7fbf9b;
}
.chartlegend span.red {
    background-color: #d66f6f;
}
.chartlegend span.yellow {
    background-color: #fdee8b;
}
.chartlegend span {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 0.25rem;
}

/* .color-p{color:#ff8b8b} */
.color-p {
    color: #ff0000;
}
.color-s {
    color: #6c757d;
}
.cover {
    width: 90%;
}
.d-flex {
    display: flex;
    display: -ms-flexbox;
}
.flex-fill {
    flex: 1 1 auto;
}
.mb {
    margin-bottom: 1rem;
}
.ml-s {
    margin-left: 0.5rem;
}
.mr-s {
    margin-right: 0.5rem;
}
.mx-a {
    margin-left: auto;
    margin-right: auto;
}
.noedge {
    padding: 0;
}
.p-s {
    padding: 0.5rem;
}
.paper {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1.5px 0.5px -1px rgba(0, 0, 0, 0.2), 0 0 2.5px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1.5px 0.5px -1px rgba(0, 0, 0, 0.2), 0 0 2.5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1.5px 0.5px -1px rgba(0, 0, 0, 0.2), 0 0 2.5px 0 rgba(0, 0, 0, 0.12);
}
.pb {
    padding-bottom: 1rem;
}
.pt {
    padding-top: 1rem;
}
.p {
    padding: 1rem;
}

/* .sep-v{border-left:24px solid #ff8b8b} */
.sep-v {
    border-left: 24px solid #ff0000;
}
.text-center {
    text-align: center;
}
.text-fatty {
    text-transform: uppercase;
    font-weight: 700;
}
.text-justify {
    text-align: justify;
}
.text-left {
    text-align: left;
}
.w-50 {
    width: 50%;
}
amp-story-grid-layer[template="vertical"].logo-layer {
    padding: 20px;
    justify-items: normal;
    -ms-flex-line-pack: start;
    align-content: start;
}
amp-story-grid-layer[template="vertical"].logo-layer .logo-wrapper {
    max-width: 30px;
}
@media (max-width: 768px) {
    amp-story-grid-layer[template="vertical"].logo-layer .logo-wrapper {
        max-width: 25px;
    }
}
amp-story-grid-layer[template="vertical"].logo-layer amp-img {
    opacity: 0.5;
}
amp-story-grid-layer[template="vertical"].credit-layer {
    padding: 0 30px 0 5px;
    -ms-flex-line-pack: end;
    align-content: end;
}
@media (max-width: 480px) {
    amp-story-grid-layer[template="vertical"].credit-layer {
        padding: 0 20px 0 5px;
    }
}
amp-story-grid-layer[template="vertical"].credit-layer p.credit {
    padding: 0;
    color: #ddd;
    text-shadow: 1px 1px 0 #000;
    font-size: 15px;
    line-height: 20px;
    font-family: "Noto Sans", Arial, sans-serif;
    text-align: left;
    max-width: inherit;
    font-style: normal;
    font-weight: 700;
}
@media (max-width: 480px) {
    amp-story-grid-layer[template="vertical"].credit-layer p.credit {
        font-size: 9px;
        line-height: 16px;
    }
}
amp-google-document-embed {
    margin: 0 2vw;
}

.sideBarNav {
    width: 420px;
}
.sideBarNav {
    background-color: #000;
    padding: 20px;
}
.sideBarNav h3 {
    font-size: 17px;
    line-height: 25px;
}

/* .sideBarNav .top-menu{border-top:1px solid #fff;margin-top:20px;padding-top:10px} */
.sideBarNav .bottom-menu {
    border-top: 1px solid #fff;
    margin-top: 20px;
    padding-top: 10px;
}
.sideBarNav ul {
    margin: 20px 0 0 0;
    padding: 0;
}
.sideBarNav ul li {
    font-size: 15px;
    line-height: 20px;
    list-style: none;
    margin: 0 0 20px 0;
}
.sideBarNav ul li a {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
}

/* .sideBarNav ul li a:before{display:inline-block;content:"";width:12px;height:12px;background-image:url(https://ontomatica.io/static/image/onto_symb_w421_h421.png); background-size:contain;background-repeat:no-repeat;vertical-align:middle;margin-left:7px;padding-right:5px} */
.sideBarNav ul li a:before {
    display: inline-block;
    content: "";
    width: 13px;
    height: 14px;
    background-image: url("https://ontomatica.io/static/image/onto_symb_w421_h421.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 7px;
    padding-right: 5px;
}

.sideBarNav .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    opacity: 1;
    background: 0 0;
    border: 0;
    cursor: pointer;
}
.sideBarNav .close:after,
.sideBarNav .close:before {
    position: absolute;
    right: 22px;
    top: 20px;
    content: " ";
    height: 24px;
    width: 2px;
    background-color: #fff;
}
.sideBarNav .close:focus {
    outline: 0;
}
.sideBarNav .close:before {
    transform: rotate(45deg);
}
.sideBarNav .close:after {
    transform: rotate(-45deg);
}

.list-overflow[overflow] {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

/* attachment-tabs (currently fail) */
input {
    display: none;
}
label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}
label:hover {
    color: #888;
    cursor: pointer;
}
input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
}

/* provenance */
.g-flexed {
    display: flex;
    flex-flow: row wrap;
    border: solid #333;
    border-width: 1px 1px 0 0;
}
.g-dl {
    display: flex;
    flex-flow: row wrap;
    border: solid #333;
    border-width: 1px 1px 0 0;
}

.g-dt {
    /*flex-basis: 20%;*/
    flex-basis: 30%;
    padding: 2px 4px;
    /*background: #333;*/
    text-align: right;
    color: #fff;
}
.g-dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 2px 4px;
    border-bottom: 1px solid #333;
}
.prov__text ul {
    font-weight: 100;
    margin: 16px auto;
    line-height: 1.6;
    font-size: 14px;
}
.show-yes {
    visibility: visible;
}
.show-no {
    display: none;
}
.show-hide {
    visibility: hidden;
}
.img-container {
    position: absolute;
    width: 0px;
    height: 0px;
}

/* iframe additions below */
.ap-o-sampler-iframe {
    width: 100%;
    height: auto;
    background: #e6e6fa;
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.4);
}
.ap-o-sampler-iframe-r {
    width: 100%;
    height: auto;
    background: red;
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.4);
}
.ap-o-sampler-iframe-b {
    width: 100%;
    height: auto;
    background: blue;
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.4);
}
.ap-o-sampler-iframe-g {
    width: 100%;
    height: auto;
    background: green;
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.4);
}
.ap-o-sampler-iframe [placeholder] {
    display: flex;
}
[placeholder] .ap-o-sampler-iframe-source {
    width: calc(50% - 4px);
}
:target::before {
    content: "";
    display: block;
    visibility: hidden;
    height: 120px;
    margin-top: -120px;
}
.-n {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 0 1.5em;
    margin: 0;
}
.-i,
.-r {
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.-r {
    line-height: 1.6rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: #005af0;
    line-height: 1.3;
}
.-i {
    fill: #005af0;
    padding: 0.438em 0;
    margin-bottom: auto;
    margin-right: 0.625em;
    box-sizing: initial;
}
.-n:hover .-i,
.-n:hover .-r {
    transform: translateX(10px);
}
/* a{color:#005af0} */
/* a{text-decoration:none;font-weight:700} */
.ap-a-ico {
    display: flex;
    font-size: initial;
    box-sizing: initial;
    justify-content: center;
    width: 1em;
    height: 1em;
}
.ap--sampler {
    margin-bottom: 7em;
}
@media (max-width: 320px) {
    .ap--sampler {
        display: none;
    }
}
@media (min-width: 768px) {
    .ap--sampler {
        margin-bottom: 8vw;
    }
}
.ap-o-sampler {
    grid-column: 3/-1;
    width: 100%;
    max-width: 1024px;
    padding-left: 20px;
}
@media (min-width: 1680px) {
    .ap-o-sampler {
        grid-column: 5/-3;
        padding-left: 0;
    }
}
.ap-o-sampler-tab-bar {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    background: #29323c;
}
.ap-o-sampler-tab {
    cursor: pointer;
    padding: 1.125em 1.75em;
    border-right: 1px solid #3d444d;
    background: #29323c;
}
.ap-o-sampler-tab.active {
    background: #3d444d;
}
.ap-o-sampler-tab.active span {
    opacity: 1;
}
.ap-o-sampler-tab-title {
    font-size: 0.8125rem;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #fff;
    opacity: 0.5;
}
.ap-o-sampler-link {
    margin-top: 1em;
    display: inline-block;
}
.ap-o-sampler-link {
    margin-top: 1em;
    display: inline-block;
}
.-on {
    display: flex;
    align-items: center;
}
.-on {
    padding: 0 0 14px;
    border: 0;
    background: 0 0;
}
.-on:focus ~ .-oi,
.-on:hover ~ .-oi {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.spr-4 {
    line-height: 4em;
}
.twitter-left {
    margin-left: -10px;
}
.twitter-right {
    margin-left: 10px;
}
/* amp-gist{overflow-y: scroll;} */

<!--https://ampforwp.com/tutorials/article/how-to-remove-the-social-icon-from-amp/ -->
    .amp-comment-button {
    display: none;
}
