/***************************
*   Font: Recursive Variable
*   Recursive-VF.ttf
*/

@font-face {
  font-family: Recursive-2019;
  src: url("https://s3.amazonaws.com/benetta.net/fonts/recursive-woff2/Recursive-VF.ttf")
    format("truetype");
  font-display: swap;
  text-align: initial;
  font-weight: 100 600;
  font-stretch: 25% 151%;
}

/*******************
*   Font: Zilla Slab
*/

@font-face {
  font-family: ZillaSlab;
  src: url("https://s3.amazonaws.com/benetta.net/fonts/zilla-slab/zilla-slab-v6-latin-500.woff2")
    format("woff2");
  font-display: swap;
  text-align: initial;
  font-style: normal;
  font-weight: 100 600;
}

/****************************
*   Font: Roboto Flex Regular
*/

@font-face {
  font-family: RobotoFlex;
  src: url("https://s3.amazonaws.com/benetta.net/fonts/robotoflex-woff2/RobotoFlex.woff2")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

/****************************
*   Font: Noto Serif
*/
@font-face {
  font-family: NotoSerif;
  src: url("https://s3.amazonaws.com/benetta.net/fonts/noto-serif/noto-serif-v11-latin-regular.woff2")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

/***********************
*   Font: World of Water
*/

@font-face {
  font-family: world-of-water;
  src: url("https://s3.amazonaws.com/benetta.net/fonts/world-of-water/world-of-water-v2.woff2")
    format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: regular;
  font-display: optional;
  src: local("Noto Sans"), local(NotoSans),
    url(https://s3.amazonaws.com/benetta.net/fonts/noto-sans/noto-sans-v11-latin-regular.woff2)
      format("woff2");
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(.HelveticaNeueDeskInterface-Light),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(.HelveticaNeueDeskInterface-Light),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Light"), local(.HelveticaNeueDeskInterface-Light),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 400;
  src: local(".SFNSText-Light"), local(.HelveticaNeueDeskInterface-Light),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 500;
  src: local(".SFNSText-Light"), local(.HelveticaNeueDeskInterface-Light),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 500;
  src: local(".SFNSText-Light"), local(.HelveticaNeueDeskInterface-Light),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 700;
  src: local(".SFNSText-Light"), local(.HelveticaNeueDeskInterface-Light),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 700;
  src: local(".SFNSText-Light"), local(.HelveticaNeueDeskInterface-Light),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* used by recursive */
:root {
  --MONO: 0; /* Monospace    */
  --CASL: 0; /* Casual       */
  --slnt: 0; /* Upright      */
  --CRSV: 0.5; /* Auto Cursive */
}

*,
*:before,
*:after {
  font-variation-settings: "MONO" var(--MONO), "CASL" var(--CASL),
    "slnt" var(--slnt), "CRSV" var(--CRSV);
}

h1 {
  font-family: ZillaSlab;
  font-size: calc(3.125 * var(--story-page-vw));
  font-weight: 100;
  color: #440044; /* set to background SVG color */
  border: none;
}

h2 {
  font-family: ZillaSlab;
  font-size: calc(4 * var(--story-page-vw));
  font-weight: 100;
  display: inline-block;
  color: #ffffff;
  border: none;
}

h3 {
  font-family: ZillaSlab;
  font-size: calc(2.6 * var(--story-page-vw));
  font-weight: 300;
  line-height: 1.2em;
  color: #ffffff;
  border: none;
}

h4 {
  font-family: Recursive-2019;
  font-size: calc(1.9 * var(--story-page-vw));
  font-weight: 300;
  --CASL: 1;
  --slnt: 0;
  --MONO: 0;
  font-feature-settings: "ss01" on, "ss02" on, "ss08" on;
  margin-top: 1em;
  color: #ffffff;
  border: none;
  transition: 1s;
}

h4:hover {
  font-weight: 800;
  --CRSV: 0;
  transition: 1s;
}

h5 {
  font-family: Recursive-2019;
  font-size: calc(2 * var(--story-page-vw));
  font-weight: 300;
  --CASL: 1;
  --slnt: 0;
  --MONO: 0;
  font-feature-settings: "ss01" on, "ss02" on, "ss08" on;
  margin-bottom: 0.8em;
  color: #ffffff;
  border: none;
  transition: 1s;
}

h5:hover {
  font-weight: 800;
  --CRSV: 0;
  transition: 1s;
}

/*************
*   cover page
*/

.cover {
  width: 90%;
}
.p-s {
  padding: 0.5rem;
}
.p {
  padding: 1rem;
}

.bg-w {
  background-color: #fff;
}

.c-bottom {
  align-content: end;
}

.color-p {
  color: #ff0000;
}

.color-s {
  color: #6c757d;
}

.cover-f {
  width: 70%;
}

.d-flex {
  display: flex;
  display: -ms-flexbox;
}

.flex-fill {
  flex: 1 1 auto;
}

/* test change to em */
.mb {
  /* margin-bottom: 1rem; */
  margin-bottom: 1em;
}

.ml-s {
  /* margin-left: 0.5rem; */
  margin-left: 0.5em;
}
.mr-s {
  margin-right: 0.5rem;
}

.mx-a {
  margin-left: auto;
  margin-right: auto;
}

.noedge {
  padding: 0;
}

.paper {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1.5px 0.5px -1px rgba(0, 0, 0, 0.2), 0 0 2.5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1.5px 0.5px -1px rgba(0, 0, 0, 0.2), 0 0 2.5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1.5px 0.5px -1px rgba(0, 0, 0, 0.2), 0 0 2.5px 0 rgba(0, 0, 0, 0.12);
}

.pb {
  color: #440044;
  /* padding-bottom: 1rem; */
  padding-bottom: 1em;
}

.pt {
  /* padding-top: 1rem; */
  padding-top: 1em;
}

/* .sep-v{border-left:24px solid #ff8b8b} */
.sep-v {
  border-left: 24px solid #ff0000;
}

.text-fatty {
  font-family: Recursive-2019;
  text-transform: uppercase;
  font-weight: 700;
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
}
/* end cover */

amp-story {
  color: #fff;
  border: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.opacity2 {
  opacity: 0.6;
}
.opacity3 {
  opacity: 0.3;
}

.titles {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .titles {
    text-align: center;
    position: static;
  }
}

@media screen and (max-width: 767px) and (min-width: 375px) {
  a {
    text-decoration: none;
    color: #cd2a3b;
  }
  .titles {
    text-align: left;
  }
  /* .prov__text ul {font-weight: 100; margin: 16px auto; font-size: 0.6em;} */
  .g-dt,
  .g-dd {
    flex-basis: 70%;
    flex-grow: 1;
    font-size: 0.8em;
    padding: 2px 4px;
    text-align: right;
    color: #fff;
  }
  .darken {
    filter: brightness(0.6) blur(8px);
  }
}

/**************************
	for attachment DL DT DD
*/
.bg-w {
  background-color: #fff;
}
.bg-b {
  background-color: #000;
}
.bt {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.c-bottom {
  align-content: end;
}
.chartlegend span.green {
  background-color: #7fbf9b;
}
.chartlegend span.red {
  background-color: #d66f6f;
}
.chartlegend span.yellow {
  background-color: #fdee8b;
}
.chartlegend span {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 0.25rem;
}

.text-center {
  text-align: center;
}
.text-fatty {
  text-transform: uppercase;
  font-weight: 700;
}
.text-justify {
  text-align: justify;
}
.text-left {
  text-align: left;
}

.w-50 {
  width: 50%;
}

/**************************
	may not serve a purpose
*/
amp-story-grid-layer[template="vertical"].logo-layer {
  padding: 20px;
  justify-items: normal;
  -ms-flex-line-pack: start;
  align-content: start;
}
amp-story-grid-layer[template="vertical"].logo-layer .logo-wrapper {
  max-width: 30px;
}
@media (max-width: 768px) {
  amp-story-grid-layer[template="vertical"].logo-layer .logo-wrapper {
    max-width: 25px;
  }
}
amp-story-grid-layer[template="vertical"].logo-layer amp-img {
  opacity: 0.5;
}

amp-story-grid-layer[template="vertical"].credit-layer {
  padding: 0 30px 0 5px;
  -ms-flex-line-pack: end;
  align-content: end;
}
@media (max-width: 480px) {
  amp-story-grid-layer[template="vertical"].credit-layer {
    padding: 0 20px 0 5px;
  }
}
amp-story-grid-layer[template="vertical"].credit-layer p.credit {
  padding: 0;
  color: #ddd;
  text-shadow: 1px 1px 0 #000;
  font-size: 15px;
  line-height: 20px;
  font-family: ZillaSlab;
  text-align: left;
  max-width: inherit;
  font-style: normal;
  font-weight: 700;
}
@media (max-width: 480px) {
  amp-story-grid-layer[template="vertical"].credit-layer p.credit {
    font-size: 9px;
    line-height: 16px;
  }
}

amp-google-document-embed {
  margin: 0 2vw;
}
.section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

/*************
	provenance
*/
.g-flexed {
  display: flex;
  flex-flow: row wrap;
  border: solid #333;
  border-width: 1px 1px 0 0;
}
.g-dl {
  display: flex;
  flex-flow: row wrap;
  border: solid #333;
  border-width: 1px 1px 0 0;
}

.g-dt {
  font-family: NotoSerif;
  flex-basis: 30%;
  padding: 2px 4px;
  text-align: right;
  color: #fff;
}
.g-dd {
  font-family: NotoSerif;
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  padding: 2px 4px;
  border-bottom: 1px solid #333;
}
/* .prov__text ul{font-weight:100;margin:16px auto;line-height:1.6;font-size:14px} */
.show-yes {
  visibility: visible;
}
.show-no {
  display: none;
}
.show-hide {
  visibility: hidden;
}

.img-container {
  position: absolute;
  width: 0px;
  height: 0px;
}

/*************************
	iframe additions below
*/
.ap-o-sampler-iframe {
  width: 100%;
  height: auto;
  background: #e6e6fa;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.4);
}
.ap-o-sampler-iframe-r {
  width: 100%;
  height: auto;
  background: red;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.4);
}
.ap-o-sampler-iframe-b {
  width: 100%;
  height: auto;
  background: blue;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.4);
}
.ap-o-sampler-iframe-g {
  width: 100%;
  height: auto;
  background: green;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.4);
}
.ap-o-sampler-iframe [placeholder] {
  display: flex;
}
[placeholder] .ap-o-sampler-iframe-source {
  width: calc(50% - 4px);
}
:target::before {
  content: "";
  display: block;
  visibility: hidden;
  height: 120px;
  margin-top: -120px;
}
.-n {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 0 1.5em;
  margin: 0;
}
.-i,
.-r {
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.-r {
  line-height: 1.6rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: #005af0;
  line-height: 1.3;
}
.-i {
  fill: #005af0;
  padding: 0.438em 0;
  margin-bottom: auto;
  margin-right: 0.625em;
  box-sizing: initial;
}
.-n:hover .-i,
.-n:hover .-r {
  transform: translateX(10px);
}
/* a{color:#005af0} */
/* a{text-decoration:none;font-weight:700} */
.ap-a-ico {
  display: flex;
  font-size: initial;
  box-sizing: initial;
  justify-content: center;
  width: 1em;
  height: 1em;
}
.ap--sampler {
  margin-bottom: 7em;
}
@media (max-width: 320px) {
  .ap--sampler {
    display: none;
  }
}
@media (min-width: 768px) {
  .ap--sampler {
    margin-bottom: 8vw;
  }
}
.ap-o-sampler {
  grid-column: 3/-1;
  width: 100%;
  max-width: 1024px;
  padding-left: 20px;
}
@media (min-width: 1680px) {
  .ap-o-sampler {
    grid-column: 5/-3;
    padding-left: 0;
  }
}
.ap-o-sampler-tab-bar {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  background: #29323c;
}
.ap-o-sampler-tab {
  cursor: pointer;
  padding: 1.125em 1.75em;
  border-right: 1px solid #3d444d;
  background: #29323c;
}
.ap-o-sampler-tab.active {
  background: #3d444d;
}
.ap-o-sampler-tab.active span {
  opacity: 1;
}
.ap-o-sampler-tab-title {
  font-size: 0.8125rem;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: #fff;
  opacity: 0.5;
}
.ap-o-sampler-link {
  margin-top: 1em;
  display: inline-block;
}
.ap-o-sampler-link {
  margin-top: 1em;
  display: inline-block;
}
.-on {
  display: flex;
  align-items: center;
}
.-on {
  padding: 0 0 14px;
  border: 0;
  background: 0 0;
}
.-on:focus ~ .-oi,
.-on:hover ~ .-oi {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.spr-4 {
  line-height: 4em;
}
.twitter-left {
  margin-left: -10px;
}
.twitter-right {
  margin-left: 10px;
}
/* amp-gist{overflow-y: scroll;} */

/*
	https://ampforwp.com/tutorials/article/how-to-remove-the-social-icon-from-amp/
*/

.amp-comment-button {
  display: none;
}
